<% layout('layouts/boilerplate') %> 
<h1>YelpCamp: All Campgrounds</h1>
<a href="/campgrounds/new">Add a new campground</a>
<ul>
  <% for(let campground of campgrounds){ %>
  <li>
    <a href="/campgrounds/<%= campground._id %> "
      ><b><%= campground.title %></b> - <%= campground.location %></a
    >
  </li>
  <% } %>
</ul>
