<% layout('layouts/boilerplate') %>
  <div class="row">
    <div class="col-6 offset-3">
      <h1 class="text-center mb-3">New Campground</h1>
      <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
        <!-- Title -->
        <div class="mb-3">
          <label for="title" class="form-label">Campground Name:</label>
          <input type="text" id="title" placeholder="Campground Name" name="campground[title]" class="form-control"
            required />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- Location -->
        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input type="text" id="location" name="campground[location]" placeholder="Campground Location"
            class="form-control" required />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- Image file -->
        <div class="mb-3">
          <label for="image-file" class="form-label">Image file:</label>
          <input type="file" id="image-file" placeholder="Image url" name="image" multiple/>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- Image Url -->
        <!-- <div class="mb-3">
          <label for="image" class="form-label">Image Url:</label>
          <input type="text" id="image" placeholder="Image url" name="campground[image]" class="form-control"
            required />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div> -->
        <!-- Price -->
        <div class="mb-3">
          <label for="price" class="form-label">Price:</label>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" id="price" class="form-control" aria-label="price" name="campground[price]"
              placeholder="0.00" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <!-- Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea type="text" id="description" placeholder="Description" name="campground[description]"
            class="form-control">
          </textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
      <a href="/campgrounds">Go to campgrounds index</a>
    </div>
  </div>